@{
    ViewBag.Title = "Master Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Style{

<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/jsgrid.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/image-cropper.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/rating.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollable.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/aos.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/select2.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/datatable-extension.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/datatables.css">

<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/owlcarousel.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/range-slider.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/date-picker.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/prism.css">
<link rel="stylesheet" type="text/css" href="~/assets/css/vendors/dropzone.css">
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>
                        Employee Data
                    </h3>
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-primary btn-icon" onclick="tambah()"><h6 class="mt-2">Tambah &nbsp<i class="fa fa-plus-square-o"></i><h6></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table id="tabel-karyawan" class="table table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th style="min-width: 150px;">Nama</th>
                                    <th style="min-width: 120px;">NIM</th>
                                    <th style="min-width: 120px;">Jabatan</th>
                                    <th style="min-width: 200px;">Gaji Bulanan</th>
                                    <th style="min-width: 120px;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<!-- MODAL TAMBAH/EDIT -->
<div class="modal fade" id="modal-tambah" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="judul-modal-tambah">Modal title</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-simpan" class="row gy-1 pt-75 needs-validation" novalidate>
                <div class="modal-body mx-4">
                    <div class="col-12 mb-3">
                        <label class="form-label" for="nama_karyawan">Nama <span class="text-danger">*</span></label>
                        <input type="text" name="nama_karyawan" id="nama_karyawan" class="form-control" placeholder="Nama Karyawan" maxlength="40" oninput="filterInput(this)"  required autocomplete="OFF"/>
                        <div class="invalid-feedback">Required</div>
                        <input type="hidden" id="id_karyawan" name="id_karyawan"/>
                        <input type="hidden" id="tombol" name="tombol" value="1"/>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="nim">Nomor Induk <span class="text-danger">*</span></label>
                        <input type="text" name="nim" id="nim" class="form-control"placeholder="XXXXXXXXXXX" oninput="this.value = this.value.replace(/[^0-9]/g, '');" pattern="[0-9]{11}" required autocomplete="OFF"/>
                        <div class="invalid-feedback">11 Digit Required</div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="posisi_karyawan">Posisi <span class="text-danger">*</span></label>
                        <select class="form-select" name="posisi_karyawan" id="posisi_karyawan" required autocomplete="OFF">
                            <option value="" selected disabled>--Pilih Posisi--</option>
                            @foreach(var item in (IEnumerable <Cuba_Staterkit.Models.t_position>)ViewBag.posisi){
                                <option value='@item.position_id'>@item.position_name</option>
                            }
                        </select>
                        <div class="invalid-feedback">Required</div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="base_salary">Gaji Bulanan <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text">Rp</span>
                            <input type="text" name="base_salary" id="base_salary" class="form-control numeral-mask" placeholder="0" required autocomplete="OFF"/>
                            <div class="invalid-feedback">Required</div>
                        </div>
                    </div>

                    <!-- FOOTER -->
                    <div class="col-12 mt-4 pt-50">
                        <button type="submit" id='btn-simpan' class="btn btn-success float-end waves-effect waves-float waves-light">Simpan</button>
                        <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">Batal</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Script{
<script>
$(document).ready(function () {
    loadData();
});

function filterInput(input) {
    // Mengganti karakter-karakter yang tidak diinginkan kecuali huruf alphabet dan spasi
    input.value = input.value.replace(/[^A-Za-z ]/g, '');

    // Menampilkan pesan error jika input tidak valid
    if (!/^[A-Za-z ]*$/.test(input.value)) {
        document.getElementById('errorMessage').innerHTML = 'Input hanya boleh berisi huruf alphabet dan spasi.';
    } else {
        document.getElementById('errorMessage').innerHTML = '';
    }
}
function loadData()
{
    $("#tabel-karyawan").DataTable().destroy();
    $("#tabel-karyawan").DataTable({
        processing: true, // for show progress bar
        serverSide: true, // for process server side
        filter: true, // this is for disable filter (search box)
        orderMulti: false, // for disable multiple column at once
        order: [[0, "asc"]],
        ajax: {
            url: "@Url.Action("GetKaryawan", "Master")",
            type: "GET",
            datatype: "json",
            data: function(d){
                d.page = Math.ceil(d.start / d.length) + 1; // currentPage
                d.page_size = d.length; // pageSize (10, 25, 50, 100)

                var columnIndex = d.order[0].column; // Get the column index being sorted
                d.sortColumn = d.columns[columnIndex].data; // Get the column name

                d.sortOrder = d.order[0].dir; // Get the sort order (asc or desc)

                d.search = d.search.value;

                // Remove the default DataTables parameters
                delete d.draw;
                delete d.start;
                delete d.length;
                delete d.columns;
                delete d.order;
                delete d._;
            },
            error: function (xhr, error, code) {
                location.reload();
            }
        },
        language:{
            paginate:{
                // remove previous & next text from pagination
                // previous: '&nbsp;',
                // next: '&nbsp;'
            }
        },
        columns: [
            { data: 'employee_name', name: 'employee_name', "autoWidth": false },
            { data: 'username', name: 'username', "autoWidth": false },
            { data: 'position_name', name: 'position_name', "autoWidth": false },
            { 
                data: 'base_salary', name: 'base_salary', "autoWidth": false,
                mRender: function (data, type, row) {
                    if (data !== null && data !== undefined) {
                        return 'Rp' + parseFloat(data).toFixed(0).replace(/\d(?=(\d{3})+$)/g, '$&.');
                    }
                    return '';
                }
            },
            { 
                data: '', name: '', "autoWidth": false, "orderable": false,
                mRender: function (data, type, row) {
                    return `
                        <button class='btn btn-warning' title='Edit' onclick='edit(
                            "${row.employee_id}",
                            "${encodeURIComponent(row.employee_name)}",
                            "${encodeURIComponent(row.username)}",
                            "${encodeURIComponent(row.position_id)}",
                            "${encodeURIComponent(row.base_salary)}"
                        )'><i class="fa fa-pencil-square-o""></i></button>
                        <button class='btn btn-danger' title='Delete' onclick='hapus(
                            "${row.employee_id}",
                            "${encodeURIComponent(row.employee_name)}"
                        )'><i class="fa fa-trash-o"></i></button>`
                }
            }
        ]
    });
}

function tambah()
{
    // $('#form-simpan').validate().resetForm();
    // $('.form-control, .form-select').removeClass("error");
    $('#form-simpan').trigger('reset').removeClass('was-validated');
    $('#judul-modal-tambah').text("Tambah Data Karyawan");
    $('#tombol').val("1");
    $("#nim").prop("readonly", false);

    $("#modal-tambah").modal("show");
}


// Thousand Seperator --> pake library Cleave
var numeralMask = $('.numeral-mask');
if (numeralMask.length) {
        var cleaveInstance1 = new Cleave(numeralMask, {
        numeral: true,
        numeralThousandsGroupStyle: 'thousand',
        numeralDecimalMark: ',',
        numeralDecimalScale: 0,
        delimiter: "."
    });
}

$('#form-simpan').submit(function (e) {
    e.preventDefault();
    var reportValidity = $('#form-simpan')[0].reportValidity();
    var raw_base = cleaveInstance1.getRawValue().toString();

    $('#base_salary').val(raw_base);
   
    if(reportValidity){
        var formData = $('#form-simpan').serialize();

        $.ajax({
            url: "@Url.Action("SimpanKaryawan", "Master")",
            type: "POST",
            data: $('#form-simpan').serialize(),
            cache: false,
            success: function (respon) {
                if (respon == 1) {
                    Swal.fire({
                        title: 'Data Karyawan Berhasil Ditambahkan!',
                        buttons: false,
                        timer: 1500,
                        icon: "success",
                    }).then(function(){
                        loadData();
                        $("#modal-tambah").modal("hide");
                    });
                }
                else if (respon == 2) {
                    Swal.fire({
                        title: 'Data Posisi Berhasil Diubah!',
                        buttons: false,
                        timer: 1500,
                        icon: "success",
                    }).then(function(){
                        loadData();
                        $("#modal-tambah").modal("hide");
                    });
                }
                else if (respon == 3){
                    Swal.fire({
                        title: 'Invalid Salary!',
                        text: 'Gaji yang di input melebih batas maksimal jabatan',
                        buttons: false,
                        timer: 1500,
                        icon: "error",
                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    title: 'Data gagal diproses!',
                    text: 'Error: ' + JSON.stringify(error),
                    buttons: false,
                    timer: 3000,
                    icon: "error",
                });
            }
        }); 
    }
});

function edit(id, nama, nim, id_pos, basis)
{
    console.log(decodeURIComponent(id_pos))
    $('#form-simpan').trigger('reset').removeClass('was-validated');
    $('#judul-modal-tambah').text("Edit Data Karyawan");
    $('#tombol').val("2");
    $("#nim").prop("readonly", true);
    $("#id_karyawan").val(id);
    $("#nama_karyawan").val(decodeURIComponent(nama));
    $("#nim").val(decodeURIComponent(nim));
    $("#posisi_karyawan").val(decodeURIComponent(id_pos));
    $("#base_salary").val(decodeURIComponent(basis));

    $("#modal-tambah").modal("show");
}

function hapus(id, nama)
{
    Swal.fire({
        title: 'Hapus Data',
        html: 'Yakin menghapus <b>' + decodeURIComponent(nama) + '</b>?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#DD3333',
        confirmButtonText: 'Hapus',
        cancelButtonText: 'Batal',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "@Url.Action("HapusKaryawan", "Master")",
                type: "POST",
                data: {id: id},
                cache: false,
                success: function (respon) {
                    if (respon == 1) {
                        Swal.fire({
                            title: 'Data Karyawan Berhasil Dihapus!',
                            buttons: false,
                            timer: 2000,
                            icon: "success",
                        }).then(function(){
                            loadData();
                        });
                    }
                },
                error: function (error) {
                    Swal.fire({
                        title: 'Data gagal diproses!',
                        text: 'Error: ' + JSON.stringify(error),
                        buttons: false,
                        icon: "error"
                    });
                }
            });
        }
    })
}

</script>
}